body {
  font-family: 'open sans', arial, sans-serif;;
  font-weight: 300;
  background-image: url(clouds.jpg);
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
  color: red;
}
h1 {
  color: white;
}
h4 {
      color: antiquewhite;
}
#summary {
color: antiquewhite;
}
.skills-and-hobbies {
  color: white
}
